 <footer class="padding">
     <div class="top-footer">
         <div class="column-footer desc-footer">
             <h3 class="logo"><span>Air</span>Music</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum modi itaque doloremque
                 voluptate iusto.</p>
         </div>
         <div class="column-footer about-footer">
             <a href="#" class="link-footer">About Us</a>
             <a href="#" class="link-footer">What is an NFT ?</a>
             <a href="#" class="link-footer">Contact Us</a>
         </div>
         <div class="column-footer join-footer">
             <p>Join the community</p>

             <form action="" method="post">
                 <input class="input-join" type="text">
                 <input placeholder="example@gmail.com" class="button btn-join" type="button" value="Join">
             </form>
         </div>
     </div>
     <div class="bottom-footer">
         <div class="sosmed">
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-facebook"></i></a>
             <a href="#"><i class="fab fa-twitter-square"></i></a>
         </div>
         <div class="bot">
             <a href="#">Discord Bot <i class="fab fa-discord"></i></a>
         </div>

     </div>
 </footer>