<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home page/css/style navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./home page/css/style title.css">
    <link rel="stylesheet" href="./home page/css/style popular.css">
    <link rel="stylesheet" href="./home page/css/style new song.css">
    <link rel="stylesheet" href="./home page/css/style player musicbar.css">
    <link rel="stylesheet" href="./home page/css/style short gallery.css">
    <link rel="stylesheet" href="./home page/css/style footer.css">
    <title>AirMusic</title>
</head>

<body>
    <!-- -----------------------------------PC-MOBILE--NAV---------------------- -->
    <%- include('nav') %>
    <!-- ------------------------MUSIC BAR-------------------------------- -->
    <%- include('music-bar') %>
    <!-- ------------------------------- content web -------------------- -->
    <%- body %>

    <!-- ---------------------------Footer Section-------------------------- -->
    <%- include('footer') %>

    <script src="./home page/js/style app.js"></script>
    <script src="./home page/js/music.js"></script>
    <script src="./home page/js/music-mob.js"></script>
    <script src="./home page/js/gallery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>