<nav class="padding">
    <div class="con-nav-logo">
        <div class="logo">
            <h3 translate="no"><span>Air</span>Music</h3>
        </div>
    </div>
    <div class="con-nav-list">
        <ul class="navigation">
            <li class="nav-list"><a href="#">Home</a></li>
            <li class="nav-list"><a href="#">Marketplace</a></li>
            <li class="nav-list"><a href="#">Search</a></li>
            <li class="nav-list"><a href="#">Sign up</a></li>
        </ul>
        <div class="wallet button">
            My Wallet
        </div>
    </div>

</nav>

<!-- ---------------------------------MOB-NAV------------------------ -->
<ul class="mobile-menu">
    <div class="boll"></div>
    <li id="listSatu" class="list-mobile">
        <a href="/" class="waitBeforeNavigate">
            <div class="point">
                <i class="icon-mob fas fa-home up"></i>
                <span class="menu-font font-up">Home</span>
            </div>
        </a>
    </li>
    <li id="listDua" class="list-mobile">
        <a href="/marketplace" class="waitBeforeNavigate">
            <div class="point">
                <i class="icon-mob fab fa-shopify"></i>
                <span class="menu-font">Marketplace</span>
            </div>
        </a>
    </li>

    <li id="listTiga" class="list-mobile">
        <a href="/search" class="waitBeforeNavigate">
            <div class="point">
                <i class="icon-mob fas fa-search"></i>
                <span class="menu-font">Search</span>
            </div>
        </a>
    </li>

    <li id="listEmpat" class="list-mobile">
        <a href="/wallet" class="waitBeforeNavigate">
            <div class="point">
                <i class="icon-mob fas fa-wallet"></i>
                <span class="menu-font">My wallet</span>
            </div>
        </a>
    </li>


</ul>