@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viga&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

body {
    background-color: #191a23;
    overflow-x: hidden !important;
    width: 100%;
    transform: none !important;
    min-height: 1300px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #FEB561;
    outline: 1px solid #2d2d3f;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Viga', sans-serif; */
/* ------------------
Navigation
--------------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191a23;
    /* background-color: red; */
    z-index: 100000;
}

.mobile-menu {
    display: none;
}

.padding {
    padding: 0 80px;
}

.con-nav-logo {
    position: relative;
    width: 40%;
    /* background-color: rosybrown; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-nav-logo h3 {
    font-family: 'Viga',
        sans-serif;
    color: #c07a91;
    cursor: pointer;
}

.con-nav-logo h3 span {
    color: #fff;
}

.con-nav-list {
    position: relative;
    width: 60%;
    /* background-color: blue; */
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 75%;
    padding-right: 15%;
    /* background-color: yellow; */
}

.nav-list {
    position: relative;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.nav-list a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
    font-size: 12px;
    transition: .3s;
}

.nav-list:hover a {
    color: #fff;
    transition: .3s;
}

.wallet {
    width: 25%;
}

.button {
    padding: 10px 25px;
    background: linear-gradient(to bottom right, #df7f9f, #fe4785, #fe4785);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.897);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.75);
}

/* ------------------------------------------------
                        RESPONSIVE
---------------------------------------------------*/

@media (max-width:925px) {
    .padding {
        padding: 0 60px;
    }
}

@media (max-width:880px) {
    .con-nav-logo {
        width: 35%;
    }

    .con-nav-list {
        width: 65%;
    }

    .button {
        font-size: 11px;
    }
}

@media (max-width:768px) {
    .padding {
        padding: 0 40px;
    }

    nav {
        height: 60px;
    }

    .con-nav-logo h3 {
        font-family: 'Viga',
            sans-serif;
        color: #c07a91;
        cursor: pointer;
    }

    .nav-list a {
        font-size: 11px;
    }

    .button {
        font-size: 10px;
        padding: 8px 15px;
        border-radius: 25px;
    }

    ul.navigation {
        width: 80%;
        padding-right: 15%;

    }

    .wallet {
        width: 20%;
    }

    .con-nav-logo h3 {
        font-size: 20px;
    }
}

@media (max-width:700px) {
    ul.navigation {
        width: 75%;
        padding-right: 15%;

    }

    .nav-list a {
        font-size: 10px;
    }

    .wallet {
        width: 25%;
    }

    ul.navigation {
        padding-right: 12%;
    }
}

@media (max-width:650px) {

    .nav-list a {
        font-size: 9px;
    }

    .button {
        font-size: 9px;
        padding: 8px 13px;
        border-radius: 25px;
    }

    .con-nav-logo h3 {
        font-size: 18px;
    }
}

@media (max-width:600px) {
    ul.navigation {
        padding-right: 10%;
    }

    .con-nav-logo h3 {
        font-size: 16px;
    }
}

@media (max-width:550px) {
    .padding {
        padding: 0 40px;
    }

    .con-nav-logo h3 {
        font-size: 20px;
    }

}

@media (max-width:520px) {
    .con-nav-logo {
        width: 30%;
    }

    .con-nav-list {
        width: 70%;
    }
}

@media (max-width:490px) {
    .padding {
        padding: 0 30px;
    }

    .con-nav-logo {
        width: 25%;
    }

    .con-nav-list {
        width: 75%;
    }
}

@media (max-width:450px) {
    .con-nav-list {
        display: none;
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        border-radius: 20px 20px 0 0;
        background-color: #202034;
        padding: 15px 0px 0 0px;
        z-index: 100000000000000;
    }

    .mobile-menu li {
        list-style: none;
        width: calc(100%/4);
    }

    .mobile-menu li .point {
        text-decoration: none;
        width: 100%;
        height: 100%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

    }

    .mobile-menu li .point i {
        font-size: 20px;
        margin: 5px 0;
        transition: .5s;
    }

    .mobile-menu li .point span {
        font-size: 12px;
        font-weight: 600;
        opacity: 0;
        transform: translateY(0px);
        transition: .5s;
        transition-delay: .2s;
    }

    .mobile-menu li .point span.font-up {
        opacity: 1;
        transform: translateY(-12px);
        transition: .5s;
        transition-delay: .2s;
    }

    .boll {
        position: absolute;
        top: -30px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 6px solid #191a23;
        background-color: #202034;
        transition: .5s;
    }

    .boll.home {
        left: 6.5%;
        transition: .5s;
    }

    .boll.market {
        left: 31.5%;
        transition: .5s;
    }

    .boll.search {
        left: 56.5%;
        transition: .5s;
    }

    .boll.mywallet {
        left: 81.5%;
        transition: .5s;
    }

    .mobile-menu li .point i {
        transform: translateY(0);
    }

    .mobile-menu li .point i.up {
        transform: translateY(-31px);
        transition: .5s;
        transition-delay: .2s;
    }
}

@media (max-width:425px) {
    .boll.home {
        left: 6%;
        transition: .5s;
    }

    .boll.market {
        left: 31%;
        transition: .5s;
    }

    .boll.search {
        left: 56%;
        transition: .5s;
    }

    .boll.mywallet {
        left: 81%;
        transition: .5s;
    }

    .mobile-menu li .point span {
        font-size: 11px;
    }
}

@media (max-width:375px) {
    .boll.home {
        left: 5%;
        transition: .5s;
    }

    .boll.market {
        left: 30%;
        transition: .5s;
    }

    .boll.search {
        left: 55.5%;
        transition: .5s;
    }

    .boll.mywallet {
        left: 80%;
        transition: .5s;
    }

    .mobile-menu li .point span {
        font-size: 10px;
    }

    .mobile-menu li .point i {
        font-size: 18px;
        margin: 5px 0;
        transition: .5s;
    }
}

@media (max-width:320px) {
    .boll.home {
        left: 5%;
        transition: .5s;
    }

    .boll.market {
        left: 30%;
        transition: .5s;
    }

    .boll.search {
        left: 55%;
        transition: .5s;
    }

    .boll.mywallet {
        left: 80%;
        transition: .5s;
    }

    .mobile-menu li .point span {
        font-size: 9px;
    }

    .mobile-menu li .point i {
        font-size: 16px;
        margin: 5px 0;
        transition: .5s;
    }

    .mobile-menu {
        padding: 13px 0px 0 0px;
    }

    .boll {
        position: absolute;
        top: -30px;
        width: 50px;
        height: 50px;
    }

    .mobile-menu li .point i.up {
        transform: translateY(-29px);
        transition: .5s;
        transition-delay: .2s;
    }
}

@media (max-width:300px) {
    .boll.home {
        left: 4.5%;
        transition: .5s;
    }

    .boll.market {
        left: 29.5%;
        transition: .5s;
    }

    .boll.search {
        left: 54.5%;
        transition: .5s;
    }

    .boll.mywallet {
        left: 79.5%;
        transition: .5s;
    }

    .mobile-menu li .point span {
        font-size: 9px;
    }

    .mobile-menu li .point i {
        font-size: 16px;
        margin: 5px 0;
        transition: .5s;
    }

    .mobile-menu {
        padding: 13px 0px 0 0px;
    }

    .boll {
        position: absolute;
        top: -30px;
        width: 50px;
        height: 50px;
    }

    .mobile-menu li .point i.up {
        transform: translateY(-29px);
        transition: .5s;
        transition-delay: .2s;
    }
}

@media (max-width:280px) {
    .boll.home {
        left: 4%;
        transition: .5s;
    }

    .boll.market {
        left: 29%;
        transition: .5s;
    }

    .boll.search {
        left: 54%;
        transition: .5s;
    }

    .boll.mywallet {
        left: 79%;
        transition: .5s;
    }

    .mobile-menu li .point span {
        font-size: 9px;
    }

    .mobile-menu li .point i {
        font-size: 16px;
        margin: 5px 0;
        transition: .5s;
    }

    .mobile-menu {
        padding: 13px 0px 0 0px;
    }

    .boll {
        position: absolute;
        top: -30px;
        width: 50px;
        height: 50px;
    }

    .mobile-menu li .point i.up {
        transform: translateY(-29px);
        transition: .5s;
        transition-delay: .2s;
    }
}