footer {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #ff5891;
    padding-bottom: 90px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------TOP FOOTER------------------------ */
.top-footer {
    /* background-color: yellow; */
    width: 100%;
    height: 80%;
    display: flex;
}

.column-footer {
    position: relative;
    width: calc(100%/4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: chocolate; */
    color: #fff;
    padding: 3% 0;
}

.column-footer:nth-child(1) {
    width: calc((100% / 4 / 2 + 100% / 4));
}

.column-footer:nth-child(3) {
    width: calc((100% / 4 / 2 + 100% / 4));
}

.column-footer:nth-child(2) {
    padding-left: 8%;
    justify-content: center;
}

.column-footer .logo {
    font-family: 'Viga',
        sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.column-footer p {
    font-size: 11px;
    font-weight: 500;
    text-align: left;
}

.column-footer a {
    font-size: 11px;
    margin: 3px 0;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.column-footer a:hover {
    text-decoration: underline;
}

.column-footer form {
    position: relative;
    width: 100%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.column-footer .input-join {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: 3px solid #e73f77;
    padding: 3%;
    font-weight: 500;
    color: #000;
}

.column-footer .btn-join {
    width: 16%;
    height: 85%;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    display: grid;
    place-items: center;
    padding: 0;
    -webkit-box-shadow: 10px 9px 18px -7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 9px 18px -7px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 9px 18px -7px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom left, #f7adc6, #eb6e97, #eb6e97);
}


.bottom-footer {
    background-color: green;
    width: 100%;
    height: 20%;
}