.short-gallery {
    position: relative;
    width: 100%;
    height: 700px;
    /* background-color: red; */
    margin-top: 130px;
}

/* ------------------------------
            TITLE SECTION 
---------------------------------*/

.gallery-title {
    position: relative;
    width: 100%;
    height: 10%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    color: #fdfdfd;
}

.gallery-title h1 {
    font-weight: 500 !important;
    font-size: 30px;
}

/* ------------------------------
            FILTER SONGS
---------------------------------*/

.container-filter {
    position: relative;
    width: 100%;
    height: 10%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.container-filter .filter-list {
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: chocolate; */
    padding-right: 20%;
}

.container-filter .filter {
    position: relative;
    width: 80px;
    height: 50%;
    display: grid;
    place-items: center;
    background-color: #242731;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    cursor: pointer;
    transition: .3s;
    -webkit-box-shadow: 3px 10px 23px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 23px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 10px 23px -4px rgba(0, 0, 0, 0.75);
}

.container-filter .filter:hover {
    background-color: #303441;
    transition: .3s;
}

.container-filter .filter.add {
    width: 110px;
    font-size: 10px;
    display: flex;
    padding: 0 1%;
    justify-content: space-evenly
}

.container-filter .filter.add span {
    transform: rotate(0);
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.container-filter .filter.add.active span {
    transform: rotate(180deg);
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* dropdown */
.drop-down-category {
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #242731;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.drop-down-category.rap,
.drop-down-category.rock {
    display: none;
}

.drop-down-category.active {
    top: 140%;
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.drop-down-category .list-drop-down {
    width: 100%;
    height: 35px;
    display: grid;
    place-items: center;
    font-size: 10px;
}

.drop-down-category .list-drop-down:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

.list-drop-down:hover {
    background-color: #303441;
    transition: .3s;
}

/* viewall */
.view-all {
    position: relative;
    width: 15%;
    height: 100%;
    /* background-color: red; */
    display: grid;
    place-items: center;
}

.view-all .viewAll {
    width: 60%;
    height: 50%;
    font-size: 10px;
    padding: 0;
}

/* ------------------------------
            GALLERY SONGS 
---------------------------------*/

.gallery-songs {
    position: relative;
    width: 100%;
    height: 75%;
    padding: 0 2%;
    /* background-color: chartreuse; */
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(calc(50% - 20px), calc(50% - 10px)));
    gap: 10px;
}

.card-item {
    position: relative;
    background-color: #2c313f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* imgbox */
.card-item .img-box {
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    /* background-color: blueviolet; */
    overflow: hidden;
}

.card-item .img-box img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* content item */
.card-item .content-item {
    position: relative;
    width: 100%;
    height: 30%;
    padding: 3%;
    padding-top: 8%;
    /* background-color: brown; */
}

.content-item h4 {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.750);
    font-weight: 450;
    /* background-color: burlywood; */
    height: 20%;
}

.content-item h3 {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    /* background-color: cyan; */
    height: 30%;
    margin: 2% 0 4% 0
}

.content-item .control {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    /* background-color: darkgray; */
}

/* view */
.content-item .control .view {
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 9px;
    color: #fff;
}

.view .bulat {
    background-color: #023f82;
}

.view p {
    margin-left: 10%;
}

.content-item .control .view ion-icon {
    font-size: 10px;
    font-weight: 300;
    color: #fff;
}

/* control */

.content-item .control .share-song {
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.share-song .bulat {
    background-color: #43464e;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.795);
}

.like {
    color: #c76c96 !important;
}

.content-item .bulat {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

@media (max-width:768px) {
    .gallery-title h1 {
        font-weight: 500 !important;
        font-size: 25px;
    }

    .container-filter .filter {
        width: 60px;
        height: 45%;
        font-size: 10px;
    }

    .container-filter .filter.add {
        width: 110px;
        font-size: 10px;
        padding: 0 1%;
    }

    .view-all .viewAll {
        width: 70%;
        height: 50%;
        font-size: 10px;
        padding: 0;
    }

    /* dropdown */

    .drop-down-category .list-drop-down {
        width: 100%;
        height: 30px;
        display: grid;
        place-items: center;
        font-size: 9px;
    }

}

@media (max-width:730px) {
    .gallery-title h1 {
        font-weight: 500 !important;
        font-size: 23px;
    }

    .gallery-songs {
        padding: 0 2%;
        margin-top: 3%;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(3, minmax(calc(50% - 20px), calc(50% - 10px)));
        gap: 10px;
    }

    .content-item h4 {
        font-size: 7px;
        color: rgba(255, 255, 255, 0.750);
        font-weight: 450;
        /* background-color: burlywood; */
        height: 20%;
    }

    .content-item h3 {
        font-size: 8.5px;
        color: #fff;
        font-weight: 500;
        /* background-color: cyan; */
        height: 30%;
        margin: 2% 0 4% 0
    }

    /* view */
    .content-item .control .view {
        position: relative;
        width: 40%;
        height: 100%;
        /* background-color: yellow; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 9px;
        color: #fff;
    }

    .view .bulat {
        background-color: #023f82;
    }

    .view p {
        margin-left: 10%;
    }

    .content-item .control .view ion-icon {
        font-size: 8px;
        font-weight: 300;
        color: #fff;
    }

    .share-song .bulat {
        background-color: #43464e;
        font-size: 8px;
        color: rgba(255, 255, 255, 0.795);
    }

    .content-item .bulat {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
    }

    /* filter */
    .container-filter .filter {
        width: 50px;
        height: 35%;
        font-size: 8px;
    }

    .container-filter .filter.add {
        width: 90px;
        font-size: 8px;
        padding: 0 1%;
    }

    .view-all .viewAll {
        width: 70%;
        height: 35%;
        font-size: 9px;
        padding: 0;
    }

    /* dropdown */
    .drop-down-category .list-drop-down {
        width: 100%;
        height: 30px;
        display: grid;
        place-items: center;
        font-size: 9px;
    }

}

@media (max-width:550px) {

    /* filter */
    .container-filter .filter {
        width: 40px;
        height: 34%;
        font-size: 7px;
    }

    .container-filter .filter.add {
        width: 90px;
        font-size: 7px;
        padding: 0 1%;
    }

    .view-all .viewAll {
        width: 80%;
        height: 40%;
        font-size: 8px;
        padding: 0;
    }

    /* dropdown */
    .drop-down-category .list-drop-down {
        width: 100%;
        height: 25px;
        display: grid;
        place-items: center;
        font-size: 7px;
    }

    /* card */
    .card-item {
        padding: 8px;
        border-radius: 10px;
    }

    .short-gallery {
        position: relative;
        width: 100%;
        height: 650px;
        /* background-color: red; */
        margin-top: 130px;
    }
}

@media (max-width:500px) {
    .short-gallery {
        height: 520px;
        margin-top: 100px;
    }


    .gallery-title h1 {
        font-weight: 500 !important;
        font-size: 20px;
    }

    /* card */
    .card-item {
        padding: 6px;
        border-radius: 10px;
    }

    /* view */
    .content-item .control .view {
        position: relative;
        width: 40%;
        height: 100%;
        /* background-color: yellow; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 6px;
        color: #fff;
    }

    .view .bulat {
        background-color: #023f82;
    }

    .view p {
        margin-left: 10%;
    }

    .content-item .control .view ion-icon {
        font-size: 6px;
        font-weight: 300;
        color: #fff;
    }

    .share-song .bulat {
        background-color: #43464e;
        font-size: 6px;
        color: rgba(255, 255, 255, 0.795);
    }

    .content-item .bulat {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
    }

    .content-item h4 {
        font-size: 6px;
        color: rgba(255, 255, 255, 0.750);
        font-weight: 450;
        /* background-color: burlywood; */
        height: 20%;
    }

    .content-item h3 {
        font-size: 6px;
        color: #fff;
        font-weight: 500;
        /* background-color: cyan; */
        height: 30%;
        margin: 2% 0 4% 0
    }

    /* filter */
    .container-filter .filter {
        width: 36px;
        height: 34%;
        font-size: 7px;
    }
}

@media (max-width:425px) {

    /* filter */
    .container-filter .filter-list {

        padding-right: 10%;
    }

    .container-filter .filter {
        width: 35px;
        height: 34%;
        font-size: 7px;
    }


}

@media (max-width:375px) {

    /* filter */
    .container-filter .filter-list {

        padding-right: 7%;
    }

    .container-filter .filter {
        width: 40px;
        height: 38%;
        font-size: 7px;
    }

    .drop-down-category.rap,
    .drop-down-category.rock {
        display: block;
    }

    .filter.rap,
    .filter.rock {
        display: none;
    }

    .view-all .viewAll {
        width: 100%;
        height: 40%;
        font-size: 7px;
        padding: 0;
    }

    .short-gallery {
        position: relative;
        width: 100%;
        height: 550px;
        /* background-color: red; */
        margin-top: 130px;
    }

    .gallery-songs {
        padding: 0 2%;
        margin-top: 3%;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(calc(50% - 20px), calc(50% - 10px)));
        gap: 10px;
    }

    .content-item .control .view ion-icon {
        font-size: 6px;
        font-weight: 300;
        color: #fff;
    }

    .share-song .bulat {
        background-color: #43464e;
        font-size: 9px;
        color: rgba(255, 255, 255, 0.795);
    }

    .content-item h4 {
        font-size: 7px;
        color: rgba(255, 255, 255, 0.750);
        font-weight: 450;
        /* background-color: burlywood; */
        height: 20%;
    }

    .content-item h3 {
        font-size: 8px;
        color: #fff;
        font-weight: 500;
        /* background-color: cyan; */
        height: 30%;
        margin: 2% 0 4% 0
    }
}

@media (max-width:320px) {

    /* filter */
    .container-filter .filter-list {
        padding-right: 7%;
    }

    .container-filter .filter {
        width: 35px;
        height: 35%;
        font-size: 7px;
    }

    .view-all .viewAll {
        width: 100%;
        height: 35%;
        font-size: 6px;
        padding: 0;
    }
}